section.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(119, 136, 153, 0.678);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.modal-container {
    background-color: white;
    /* max-width: 80%;

    min-width: 80%; */
    width: 80%;

    min-height: 60%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    position: relative;
}

div.header > h2 {
    font-size: 1.7rem;
    text-transform: capitalize;
}

span#close {
    position: absolute;
    right: 0.7rem;
    top: 1.7rem;
    cursor: pointer;
}

div.modal-container > img {
    max-width: 100%;
    margin: 1rem 0;
}

div.modal-container > p {
    text-align: justify;
}

div.modal-container span.number {
    display: block;
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(172, 169, 169);
}

@media screen and (min-width: 600px) {
    div.modal-container {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    div.modal-container {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    div.modal-container {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    div.modal-container {
        width: 30%;
    }
}